<%= simple_nested_form_for(@input_note, url: create_incoming_movements_url, :html => {:class => '' }) do |f| %>
  <%= f.error_notification %>
  <div class="row-fluid"><div class="span12">
    <label>Area: <%= current_user.area.name %><label>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <% if current_user.super_admin? %>
        <%= f.association :area_origin, input_html: {class: 'my_select2 span4'} %>
        </div>
      <% else %>
        <%= f.association :area_origin, selected: current_user.area.id, input_html: {class: 'my_select2 span4'}, disabled: true %>
      <% end %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <% if current_user.super_admin? %>
        <%= f.association :area_destination, input_html: {class: 'my_select2 span4'} %>
      <% else %>
        <%= f.association :area_destination, selected: current_user.area.id, input_html: {class: 'my_select2 span4'}, disabled: true %>
      <% end %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <% if current_user.super_admin? %>
        <%= f.association :ware_house, label: "Almacen de destino", input_html: {class: 'my_select2 span4' }%>
      <% else %>
        <%= f.association :ware_house, label: "Almacen de destino", collection: current_user.area.ware_houses, input_html: {class: 'my_select2 span4'} %>
      <% end %>
    </div>
  </div>

    <div class="row-fluid"><div class="span12"><%= f.association :movement_type, collection: MovementType.incoming.order('id desc'), input_html: {class: 'my_select2 span4'} %></div></div>

    <div class="hidden"> <!-- esto es para que funcione bien lo de agregar por el javascripti dinaymic -->
      <%= f.input :type_input_note, collection: [["Bienes", 1], ["Servicios", 2]], as: :radio_buttons, input_html: {class: 'requeriment_type'} %>
    </div>

    <table id="movement_detail" class="table table-striped table-hover table-condensed table-nested">
      <thead>
        <tr>
          <th></th>
          <th>Grupo</th>
          <th>SubGrupo</th>
          <th>Categoria</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Prec. Unit. (s/.)</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Detalle</th>
        </tr>
      </thead>
      <tbody id = "input_note_details">
        <%= f.fields_for :input_note_details, wrapper: false %>
      </tbody>
      <tfoot>
        <td colspan='4'><%= f.link_to_add '<i class="icon-plus"></i> Agregar'.html_safe, :input_note_details, :data => { :target => "#input_note_details" } %></td>
      </tfoot>
    </table>

    <%= f.input :document_type, collection: [["- Tipo de documento - ", ''], ["Factura", 1], ["Boleta", 2], ["Guia de remision", 3]], default: 1 %>

    <div class="row-fluid">
      <div class="span12"><%= f.input :doc_ref, label: 'Numero del documento' %></div>
    </div>

    <%= f.association :provider, input_html: {class: 'my_select2 span4'} %>
    <div class="form-inputs">
    <div class="row-fluid"><div class="span12"><%= f.input :date, as: :datepicker %></div></div>

    <div class="row-fluid">
      <div class="span12"><%=f.input :serial, input_html: {class: 'span12', rows: 5}%></div>
    </div>

    <div class="row-fluid">
      <div class="span12"><%=f.input :observation, input_html: {class: 'span12', rows: 5}%></div>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>