<%= render 'sidebar' %>
<div class="span9">
	<h3 class='text-center'>Pedidos de notas de entrada</h3>

  <%= simple_form_for(@search, html: {class: 'form-search' }) do |f|%>
    <%= f.label :name_contains, "Numero" %>
    <%= f.text_field :name_contains, class: 'search-query'%>
    <button type="submit" class="btn">Buscar</button>
  <% end %>

  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Nota de entrada</th>
        <th>Proveedor</th>
        <th>Fecha de creación</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @input_notes.each do |input_note| %>
        <tr>
          <td><%= link_to input_note.name, new_get_out_movements_path(:input_note_id => input_note.id) %></td>
          <td><%= input_note.provider.try(:name) || '-' %></td>
          <td><%= l(input_note.created_at) %></td>
          <td><%= number_to_currency(input_note.total) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%=paginate @input_notes %>
</div>