<%=render 'quotations/sidebar'%>
<div class="span9">
  <h3 class='text-center'>Cotizaciones Ganadoras</h3>
  <table class="table table-striped table-hover table-condensed table-nested">
    <thead>
      <tr>
        <th>Nro. cotizacion</th>
        <th>Requerimiento</th>
        <th>Tipo de requerimiento</th>
        <th>Fecha de Emisión</th>
        <th>Proveedor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @quotations.each do |quotation| %>
        <% if quotation.requeriment.area.id == current_user.area_id || current_user.role_id == 1 %>
        <tr>
            <td><%= link_to quotation.name, quotation %></td>
            <td><%= link_to quotation.requeriment.name, quotation.requeriment %> </td>
            <td><%= quotation.requeriment.type_text %> </td>
            <td><%= l(quotation.created_at, :format=>:default) %> </td>
            <td><%= quotation.provider.name %></td>
            <td><%= link_to 'Generar orden', new_quotation_purchase_orders_path(quotation.id) %></td>
        </tr>
        <% end %>
        <% end %>
        </tbody>

    </table>
</div>