<h2>Ingreso</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.input :remember_me, :as => :boolean, label: 'Recordarmelo' if devise_mapping.rememberable? %>
  </div>

  <%= f.button :submit, "Ingresar" %>
<% end %>

<%= render "devise/shared/links" %>