<div class="span12">
  <h3 class='text-center'>Kardex</h3>

  <% if flash[:notice] %>
    <div class="alert .alert-success"><%= flash[:notice] %></div>
  <% end %>

  <%= simple_form_for(@search, html: {class: "form-search" }) do |f| %>
    <%= f.select :movement_ware_house_id_eq, @ware_houses.map { |r| [r.name, r.id] }, :include_blank => '- Todos almacenes -' %>
    <%= f.select :product_id_eq, @products.map { |r| [r.description, r.id] }, :include_blank => '- Seleccione producto -' %>
    <button type="submit" class="btn">Buscar</button>
  <% end %>

  <table class="table table-striped table-hover table-condensed kardex">
    <thead>
      <tr>
        <th class='text-center' colspan = '2'>Descripcion</th>
        <th class='text-center' colspan = '2'>Operacion</th>
        <th class='text-center' colspan = '3'>Entradas</th>
        <th class='text-center' colspan = '3'>salidas</th>
        <th class='text-center' colspan = '3'>Existencia</th>
        <th class='text-center'>Area</th>
      </tr>
      <tr>
        <th>Fecha</th>
        <th>Detalle</th>
        <th>Nro.</th>
        <th>Tipo</th>
        <th>cantidad</th>
        <th>Costo unitario</th>
        <th>Costo total</th>
        <th>cantidad</th>
        <th>Costo unitario</th>
        <th>Costo total</th>
        <th>cantidad</th>
        <th>Costo unitario</th>
        <th>Costo total</th>
        <th>Entregado</th>
      </tr>
    </thead>
    <tbody>
      <% @movement_items.each do |product, items| %>
        <% total = 0 %>
        <% price_total_acum = 0 %>
        <% price_unit_avg = [] %>
        <% items.each_with_index do |item, index| %>
          <% total += (item.quantity * item.movement.movement_type.signal) %>
          <% price_total = item.quantity * item.price_unit %>
          <% price_total_acum += (price_total * item.movement.movement_type.signal) %>
          <tr>
            <td><%= l item.movement.created_at %></td>
            <td><%= link_to item.product.description, item.product %></td>
            <td><%= link_to item.movement.name, item.movement %></td>
            <td><%= item.movement.movement_type.name %></td>
            <% if item.movement.movement_type_id == 1 %>
              <% price_unit_avg << item.price_unit %>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= total %></td>
              <td><%= number_to_currency(item.price_unit) %></td>
              <td><%= number_to_currency(price_total) %></td>
            <% elsif item.movement.movement_type.type_process == 'entrada' %>
              <% price_unit_avarage = (price_total_acum/total).round(2) %>
              <% price_unit_avg << price_unit_avarage %>
              <td><%= item.quantity %></td>
              <td><%= number_to_currency(item.price_unit) %></td>
              <td><%= number_to_currency(price_total) %></td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= total %></td>
              <td><%= number_to_currency( price_unit_avarage) %></td>
              <td><%= number_to_currency(price_total_acum) %></td>
            <% else %>
              <% price_total_acum += (((price_unit_avg[index-1] * item.quantity).round(2)) * item.movement.movement_type.signal) %>
              <% price_unit_avarage = (price_total_acum/total).round(2) %>
              <% price_unit_avg << price_unit_avarage %>
              <td></td>
              <td></td>
              <td></td>
              <td><%= item.quantity %></td>
              <td><%= number_to_currency(price_unit_avg[index-1]) %></td>
              <td><%= number_to_currency((price_unit_avg[index-1] * item.quantity).round(2)) %></td>
              <td><%= total %></td>
              <td><%= number_to_currency(price_unit_avarage) %></td>
              <td><%= number_to_currency(price_total_acum) %></td>
            <% end %>
            <td>
              <% if item.movement.purchase_order_id.present? || item.movement.input_note_id.present? %>
                <% if item.movement.provider_id.present? %>
                  <%= item.movement.provider.name %>
                <% end %>
              <% else %>
                <%= item.movement.receiver %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>